@model Customer

<h2>Customer Details</h2>

<dl>
    <dt>ID:</dt>
    <dd>@Model.Id</dd>

    <dt>First Name:</dt>
    <dd>@Model.Fname</dd>

    <dt>First Lame:</dt>
    <dd>@Model.Lname</dd>

    <dt>First Address:</dt>
    <dd>@Model.Address</dd>  
</dl>

<a asp-action="Index">Back to List</a>
